---
/** 
 * 1. Importar todos los MD de esta carpeta (./*.md).
 * 2. Extraer frontmatter y slug.
 **/
const postFiles = import.meta.glob('./*.md', { eager: true });
const posts = Object.values(postFiles).map((post: any) => ({
  ...(post.frontmatter),
  slug: post.frontmatter.slug ?? post.file.split('/').pop().replace('.md',''),
}));
---
<ul>
  {posts
    .sort((a, b) => new Date(b.date) - new Date(a.date))
    .map(post => (
      <li>
        <a href={`/es/blog/${post.slug}`}>
          {post.title} — {new Date(post.date).toLocaleDateString('es-ES')}
        </a>
      </li>
  ))}
</ul>
