---
// src/components/Header.astro

import { tPath, t } from '../lib/translations';
import Navegacion from './Navegacion.astro';

const { lang } = Astro.props;
---
<header class="header">
  <nav class="navbar">
    <div class="nav-container">
      <div class="nav-logo">
        <a href={tPath('/', lang)}>
          <img
            src="/images/BideDigitala.png"
            alt="BideDigitala Logo"
            class="logo-img"
            width="300"
          />
        </a>
      </div>
      
      
     <!-- Menú de navegación extraído a su propio componente -->
      <Navegacion lang={lang} />

      <!-- Nav toggle como <button> con aria-controls="primary-navigation" -->
    <button 
      class="nav-toggle" 
      aria-label="Abrir menú" 
      aria-expanded="false"
      aria-controls="primary-navigation"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    </div>
  </nav>
</header>

